{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <form class="form-horizontal" action='/gym/{{gym.id}}/update' method="POST">
      <fieldset>
          <div id="legend">
              <legend class="">Edit gym</legend>
          </div>
          <div class="control-group">
              <!-- Username -->
              <label class="control-label" for="name">Gym's name</label>
              <div class="controls">
                  <input type="text" id="name" name="name" value="{{gym.name}}" class="input-xlarge">
                  <p class="help-block">Venue's name</p>
              </div>
          </div>

          <div class="control-group">
              <!-- E-mail -->
              <label class="control-label" for="address">Address</label>
              <div class="controls">
                  <input type="text" id="address" name="address" value="{{gym.address}}" class="input-xlarge">
                  <p class="help-block">Gym's address</p>
              </div>
          </div>
          <div class="control-group">   
              <!-- Button -->
              <div class="controls">
                  <button class="btn btn-success">Update</button>
              </div>
          </div>
      </fieldset>
  </form>
</div>
{% endblock %}